/* Vars */
:root {
    --font-family-main: 'Lato', sans-serif;
    --font-family-secondary: 'Dancing Script', cursive;
    --font-size-desktop-lg: 24px;
    --font-size-desktop-md: 22px;
    --font-size-desktop-sm: 20px;
    --font-size-mobile-lg: 18px;
    --font-size-mobile-md: 16px;
    --font-size-mobile-sm: 14px;
    --theme-color-main: #191919;
    --theme-color-secondary: #ACB38F;
    --theme-color-secondary-dark: #111D13;
    --navbar-height: 60px;
    --vertical-spacing: 75px;
}

/* Animations */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }
}
@keyframes sprite-travel {
    from { background-position: 0px; }
    to { background-position: -2905px; }
}
@keyframes language-selection-top-picture {
    0% { transform: translateX(0); }
    50% { transform: translateX(calc(-100% + 100vw)); }
    100% { transform: translateX(0); }
}
@keyframes language-selection-bottom-picture {
    0% { transform: translateX(0); }
    50% { transform: translateX(calc(100% - 100vw)); }
    100% { transform: translateX(0); }
}

/* Reset */
:root {
    font-size: 62.5%
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* App css */
body {
	font-family: var(--font-family-main);
    font-weight: 300;
	line-height: 1.2;
    margin: 0;
    font-size: 1.6rem;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
	word-break: break-word;
	color: var(--theme-color-main);
	background-color: #fff;
}
section {
    scroll-margin: calc(var(--navbar-height) + var(--vertical-spacing)/2);
}
a, a:hover, a:active, a:focus {
    color: var(--theme-color-secondary-dark);
    transition: transform .2s ease;
}
a:hover {
    opacity: .8;
}
.section-separator {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    max-width: 400px;
    border-bottom: 1px solid var(--theme-color-secondary);
    margin: 0 auto;
}

/* Select language */
.lang-selection {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.lang-selection__top-picture, .lang-selection__bottom-picture {
    position: absolute;
    width: 100%;
    max-width: 760px;
    opacity: .5;
    filter: grayscale(.75);
    pointer-events: none;
}
.lang-selection__top-picture {
    top: 0;
    left: 0;
}
.lang-selection__bottom-picture {
    bottom: 0;
    right: 0;
}
.lang-selection__card {
    width: 100%;
    min-height: 150px;
    max-width: 400px;
    margin-top: 35vh;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,.15));
    transition: all .2s ease-in-out;
}
.lang-selection__card:hover {
    transform: translateY(-2px);
    filter: drop-shadow(2px 4px 8px rgba(0,0,0,.25));
}
.lang-selection__card a {
    text-decoration: none;
}
.lang-selection__card a:hover {
    opacity: 1;
}
.lang-selection__card p {
    font-size: clamp(20px, 2.2vw, 38px);
    font-weight: 400;
    transition: transform .2s ease-in-out;
}
.lang-selection__card img {
    width: 150px;
    max-width: 25%;
}

/* Hero */
#hero {
    position: relative;
    overflow: hidden;
}
.curtains-block__left {
    position: absolute;
    display: block;
    font-family: var(--font-family-secondary);
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    margin: 0 auto 0 0;
}
.curtains-block__left::before {
    content: "";
    position: absolute;
    display: block;
    font-family: var(--font-family-secondary);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-color-secondary);
    opacity: .85;
}
.curtains-block__right {
    position: absolute;
    display: block;
    font-family: var(--font-family-secondary);
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    margin: 0 0 0 auto;
}
.curtains-block__right::before {
    content: "";
    position: absolute;
    display: block;
    font-family: var(--font-family-secondary);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-color-secondary);
    opacity: .85;
}
.curtains-block__left p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 6.5vw;
    text-align: center;
    transform: translateY(-55%) rotate(-5deg);
    opacity: 0;
    user-select: none;
    animation: fade-in 1s ease .5s 1 forwards;
}
.curtains-block__right p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    transform: translateY(-55%) rotate(5deg);
    opacity: 0;
    user-select: none;
    animation: fade-in 1s ease .5s 1 forwards;
}
.mouse-down {
    position: absolute;
    bottom: 55px;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: translateX(-50%);
    border-radius: 50px;
    z-index: 2;
}
.mouse-down::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 50%;
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 4px;
    transform: translate(-50%, 0);
    animation: scroll-down 2s infinite;
    z-index: 2;
}
.mouse-down::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 20px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

/* Navbar */
.lbn-navbar {
    height: var(--navbar-height);
    width: 100%;
    background-color: #fff;
    margin-bottom: var(--vertical-spacing);
    border-bottom: 1px solid #ebebeb;
}
.lbn-navbar__container {
    display: block;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
.lbn-navbar-link-block {
    position: relative;
    user-select: none;
    white-space: nowrap;
}
.lbn-navbar-link-block.active {
    font-weight: 700;
}
.lbn-navbar-link-block::after {
    content: "";
    position: absolute;
    top: calc(50% + 29px);
    left: 50%;
    height: 3px;
    width: clamp(60px, 50%, 100px);
    background-color: var(--theme-color-secondary);
    transform: translateX(-50%) scaleX(0);
    transition: transform .1s ease-in-out;
}
.lbn-navbar-link-block.active::after {
    transform: translateX(-50%) scaleX(1);
}
.lbn-navbar__container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.lbn-navbar__container ul li {
    display: block;
    width: 200px;
    max-width: 25%;
    text-align: center;
}
.lbn-navbar__container ul li a {
    font-size: var(--font-size-desktop-md);
    line-height: 1.1;
    color: var(--theme-color-main);
    text-decoration: none;
}

/* Info */
.info-block {
    display: block;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
}
.info-block__icon {
    font-size: 42px;
    margin-bottom: 20px;
    transition: transform .2s ease-in-out;
}
.info-block:hover .info-block__icon{
    transform: scale(1.03) rotate(4deg);
}
.info-block__title {
    font-size: var(--font-size-desktop-lg);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 8px;
}
.info-block__description {
    font-size: var(--font-size-desktop-sm);
}
.info-block__description a {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}
.info-block__description a:hover {
    opacity: .8;
}

/* Our story */
#our-story {
    margin-top: 100px;
}
#travel-sprite-animation {
    position: absolute;
    top: 50%;
    right: 0;
    height: 512px;
    width: 581px;
    background: url("../img/sprite-travel.png");
    transform: translateY(-50%);
    animation: sprite-travel 5s steps(5) infinite;
}
.our-story__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 562px;
}
.our-story__title {
    font-family: var(--font-family-secondary);
    font-size: calc(var(--font-size-desktop-lg) * 1.5);
    text-align: center;
    margin-bottom: 15px;
}
.our-story__description {
    font-size: var(--font-size-desktop-sm);
}

/* Best moments */
#best-moments {
    margin-top: 85px;
}
.best-moments__title {
    font-family: var(--font-family-secondary);
    font-size: calc(var(--font-size-desktop-lg) * 1.5);
    text-align: center;
    margin-bottom: 25px;
}
#best-moments-swiper .swiper-wrapper {
    padding: 20px 0 55px;
}
#best-moments-swiper .swiper-slide img {
    transform: scale(.8);
    transition: transform .2s ease-in-out;
    user-select: none;
}
#best-moments-swiper .swiper-slide.swiper-slide-active img {
    transform: scale(1);
}
#best-moments-swiper .swiper-slide .caption {
    font-size: var(--font-size-desktop-sm);
    text-align: center;
    margin-top: 10px;
    user-select: none;
}
#best-moments-swiper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #fff;
    transition: background-color .15s ease-in-out;
    border: 1px solid var(--theme-color-secondary-dark);
}
#best-moments-swiper .swiper-pagination-bullet-active {
    background-color: var(--theme-color-secondary-dark);
}

/* Play with us */
#play-with-us {
    margin-top: 85px;
    margin-bottom: 125px;
}
.play-with-us__title {
    font-family: var(--font-family-secondary);
    font-size: calc(var(--font-size-desktop-lg) * 1.5);
    text-align: center;
    margin-bottom: 25px;
}
.play-with-us__container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}
.play-with-us__game-title {
    font-family: var(--font-family-main);
    font-size: var(--font-size-desktop-lg);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
}
.play-with-us__game-description {
    font-family: var(--font-family-main);
    font-size: var(--font-size-desktop-md);
    text-align: center;
    margin-bottom: 55px;
}
#game-start-anchor-point {
    scroll-margin: calc(var(--navbar-height) + var(--vertical-spacing)/2);
}
.play-with-us__box {
    position: relative;
    background-color: var(--theme-color-secondary);
    padding: 25px 15px;
}
.play-with-us__game-faces-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.play-with-us__game-face {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    opacity: .85;
    transition: opacity .2s ease-in-out;
    user-select: none;
}
.play-with-us__game-face.disabled {
    opacity: .35;
    pointer-events: none;
}
.play-with-us__game-face:hover, .play-with-us__game-face.selected {
    opacity: 1;
}
.play-with-us__game-face.correct {
    filter: drop-shadow(0px 0px 5px green);
}
.play-with-us__game-face.wrong {
    filter: drop-shadow(0px 0px 5px red);
}
.play-with-us__game-questions-container {
    font-family: var(--font-family-main);
    font-size: var(--font-size-desktop-md);
    color: #fff;
    text-align: center;
    min-height: 85px;
    margin-top: 25px;
    user-select: none;
}
#game-question {
    display: block;
    font-size: calc(var(--font-size-desktop-lg) * 1.2);
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto 25px;
}
#game-start, #game-next {
    font-family: var(--font-family-main);
    font-size: var(--font-size-desktop-md);
    color: #fff;
    background-color: transparent;
    margin-bottom: 25px;
    padding: 3px 30px;
    border: 1px solid #fff;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}
#game-start:hover, #game-next:hover {
    color: var(--theme-color-secondary);
    background-color: #fff;
}
#game-correct, #game-wrong {
    font-weight: 400;
}
#game-next {
    margin-top: 25px;
}
#game-score-label {
    position: relative;
    font-size: var(--font-size-desktop-lg);
    font-weight: 400;
    margin-top: 25px;
}
#game-score-label::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    height: 1px;
    width: 40px;
    background-color: rgba(255,255,255,.25);
}
#game-counter-container {
    position: absolute;
    top: 0;
    left: 50%;
    font-family: var(--font-family-main);
    font-size: var(--font-size-desktop-sm);
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: var(--theme-color-secondary-dark);
    width: 90px;
    padding: 5px 12px;
    transform: translate(-50%, -50%);
}
.game-score-comment {
    margin-bottom: 25px;
}

/* Contacts */
#contacts {
    margin-top: 85px;
    margin-bottom: 20vh;
}
.contacts__title {
    font-family: var(--font-family-secondary);
    font-size: calc(var(--font-size-desktop-lg) * 1.5);
    text-align: center;
    margin-bottom: 25px;
}
.contacts__left-box {
    text-align: center;
    margin-top: 40px;
}
.contacts__left-box--name {
    font-size: var(--font-size-desktop-md);
    font-weight: 400;
    font-weight: 700;
    margin-bottom: 10px;
}
.contacts__left-box a {
    font-size: var(--font-size-desktop-sm);
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}
.contacts__left-box a:hover {
    opacity: .8;
}
.contacts__right-box {
    text-align: center;
    margin-top: 40px;
}
.contacts__right-box--name {
    font-size: var(--font-size-desktop-md);
    font-weight: 400;
    font-weight: 700;
    margin-bottom: 10px;
}
.contacts__right-box a {
    font-size: var(--font-size-desktop-sm);
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}
.contacts__right-box a:hover {
    opacity: .8;
}

/* Last section */
#back-to-top {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--theme-color-secondary);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    opacity: .85;
    transition: opacity .2s ease-in-out;
}
#back-to-top:hover {
    opacity: 1;
}
#skyline-picture {
    opacity: .2;
    pointer-events: none;
}

/* Minor */
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--theme-color-secondary);
}

::selection {
    color: #fff;
    background: var(--theme-color-secondary);
}

/* Media queries */
@media (max-width: 991px) {
    .our-story__text-box {
        height: auto;
        margin: 30px 0;
    }
    #travel-sprite-animation {
        position: relative;
        top: unset;
        right: unset;
        margin-left: 50%;
        margin-bottom: -35%;
        transform: translateX(-50%) translateY(-25%) scale(0.5);
    }
}
@media (max-width: 767px) {
    .lang-selection__top-picture, .lang-selection__bottom-picture {
        width: unset;
        max-width: unset;
    }
    .lang-selection__top-picture {
        height: 50vh;
    }
    .lang-selection__bottom-picture {
        height: 50vh;
    }
    .lang-selection__top-picture {
        animation: language-selection-top-picture 60s linear infinite;
    }
    .lang-selection__bottom-picture {
        animation: language-selection-bottom-picture 60s linear infinite;
    }
    .lbn-navbar__container ul li a {
        font-size: var(--font-size-mobile-sm);
    }
    #travel-sprite-animation {
        margin-bottom: -50%;
    }
    .info-block {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .info-block:first-child {
        margin-top: -20px;
    }
    .info-block:last-child {
        margin-bottom: 0;
    }
    .info-block__title {
        font-size: var(--font-size-mobile-lg);
    }
    .info-block__description {
        font-size: var(--font-size-mobile-md);
    }
    .our-story__text-box {
        margin-top: 0;
    }
    .best-moments__title {
        margin-top: 45px;
    }
    #best-moments-swiper .swiper-slide .caption {
        font-size: var(--font-size-mobile-md);
    }
    .our-story__description {
        font-size: var(--font-size-mobile-md);
    }
    .contacts__left-box--name {
        font-size: var(--font-size-mobile-lg);
    }
    .contacts__left-box a, .contacts__right-box a {
        font-size: var(--font-size-mobile-md);
    }
    .play-with-us__game-title {
        font-size: var(--font-size-mobile-lg);
    }
    .play-with-us__game-description {
        font-size: var(--font-size-mobile-md);
    }
    .play-with-us__game-questions-container {
        font-size: var(--font-size-mobile-md);
    }
    #game-question {
        font-size: calc(var(--font-size-mobile-lg) * 1.2);
    }
    #game-start, #game-next {
        font-size: var(--font-size-mobile-md);
    }
    #game-score-label {
        font-size: var(--font-size-mobile-lg);
    }
    #game-counter-container {
        font-size: var(--font-size-mobile-sm);
    }
    #game-face-sara, #game-face-jonathan {
        height: 100px;
        width: 100px;
        margin: 0;
    }
}
@media (max-width: 575px) {
    #best-moments {
        margin-top: -50px;
    }

    .section-separator {
        max-width: 220px;
    }
}